# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. julya
4. SQL

__Objectives:__

 some items covered in this notebook:
 - the V's of the bug data
 - Tools for Data science
 - Big Data Characteristics
 - Type of data

Some of the commonly used libraries used by Data Scientists include:
1. panda
2. numpy
3. TensorFlow
4. SciPy
5. Matplotlib

Data Science Tools:
1. Apache Spark
2. Julia
3. Jupyter Notebook
4. Keras
5. Matlab

Below are a few examples of evaluating arithmetic expressions in Python
1. 2+3
2. 4-2
3. 2*4
4. 5/3
5. 7//2

In [1]:
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
minutes =200
hour = minutes/60
print(hour)

3.3333333333333335

## Author 
Aws Abdullah